h1{
    font-size: 50px;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.color{
    color: orange;
}
.width{
    width: 50%;
  float: left;
}
.width img{
    width: 100%;
}
.back-ground{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}
section{
    height: 500px;
}
button{
    width: 15%;
    height: 15%;
    background-color: orange;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(red, yellow);
   border-radius: 2px;
   font-size: 700;
   padding: 5px;
}
.widt{
    width: 50%;
    float: right;
}
.widt img{
    width: 100%;
}
.background{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}